[2016-01-20 11:59] naru opened #3 "Callback for controls hide/show"
Would be great if there was a callback for controls hide/show. This way it would be possible to simultaneously update the visibility of related UI elements i.e status bar, custom back button etc.

[2016-04-19 13:22] tanguyantoine opened #9 "React Native support"
Did you plan to create a React native module to integrate easily your player inside React Native application?

[2016-04-19 13:42] MaxMikheyenko commented on #3
Hey,
sorry for the delay.
It's on the roadmap, but I can't provide any timeframe at the moment.

[2016-04-21 12:28] hblee commented on #9
We currently do not have any concrete plans for React Native at this time, but our mobile product & engineering team will be investigating and researching this opportunity to assess it's value to our native mobile SDKs.

We're certainly aware of the impact F8 had in energizing React Native and will be thoroughly evaluating it.

Thanks for asking!

Please feel free to use our [iOS Gitter room](http

[2016-04-21 12:28] #9 closed

[2016-04-21 13:05] tanguyantoine commented on #9
Sorry for posting here but you twitter account seems to never respond to question. Can we imagine to let the community doing the react native bridge?

[2016-07-31 07:34] scaryguy commented on #9
Currently I'm working on a React Native project and I'm trying to figure out how to use JWPlayer iOS SDK with it.

I would really appreciate if you'd share some thoughts and suggestions about the implementation to React Native...

[2016-08-18 00:08] mehmetbajin opened #10 "Tapping insert ad has no effect"
Tapping insert ad at any point has no effect. Is this intentional?

[2016-08-18 00:25] mehmetbajin commented on #10
I discovered that this was because ads are not supported in the free tier.

[2016-08-18 00:25] #10 closed

[2016-09-19 05:25] akshada-systematix opened #11 "Delay in streaming video in ios with JWPlayer"
I have implemented JWPlayer in my xcode project where there are multiple streaming channels. At the first time to stream a new channel it is taking time before like 5-6 seconds and more.

I am not getting any solution on this part.

Please suggest.

[2016-10-11 02:31] Daniel-Berger commented on #11
Are your files HLS or MP4. Feel free to send me an email with more info at support+sdk@jwplayer.com. Thanks.

[2016-10-13 08:02] angusykl commented on #3
Any updates on this?

[2016-10-26 09:31] kilirushi opened #14 "Support UIPanGestureRecognizer on player"
Dear Team,
On JWplayer view has to support addGestureRecognizer?.

[2016-10-26 09:58] kilirushi opened #15 "issue with JWPlayerDelegate"
Delagate - (void)onControls:(BOOL)status; not call when action show/hiden control.

[2016-10-26 10:10] #14 closed

[2016-10-26 15:07] karimJWP commented on #15
OnControls is fired when controls are enabled or disabled, not when they appear on the screen. Disabling controls means that when the user taps the screen, controls will never appear. We do not have a callback indicating when controls appear or disappear on the screen. For more information on our delegate methods please visit [JWPlayerDelegate Protocol Documentation](https://developer.jwplayer.com

[2016-10-26 15:07] #15 closed

[2016-10-26 15:07] #11 closed

[2016-10-26 15:18] karimJWP commented on #3
No updates on this issue; in the meantime, to programmatically determine if controls are being shown, you can compare the JWPlayerController's safeRegion to its view's frame. The safeRegion is a CGRect indicating the area of the player that is not covered by controls and where therefore it is "safe" to add your own UI elements. If the safe Region's height is smaller than the view's height, than co

[2016-11-28 13:56] Karthikeyan1108 opened #16 "#import <JWPlayer-iOS-SDK/JWPlayerController.h> not found issue."
I am using xcode 8.1 to run the demo project.It throws an error in Bridging header file.Kindly let me know to fix this.
Language:Swift
![screen shot 2016-11-28 at 7 25 31 pm](https://cloud.githubusercontent.com/assets/16250492/20670758/7847e918-b5a0-11e6-8e65-ec3f1af50b96.png)

[2016-11-29 15:42] karimJWP commented on #16
Hi Karthik! Are you using cocoapods? If so, use this import statement: #import <JWPlayer-SDK/JWPlayerController.h>

[2016-11-30 05:23] Karthikeyan1108 commented on #16
It worked after importing the ios sdk.I thought the Jwdeveloper demo has Framework embedded by default.Guess I was wrong.Thankyou for your Valuable Reply karimJWP .

[2016-11-30 05:23] #16 closed

[2016-12-08 07:35] thandang opened #17 "Control icons disappear"
Hi there,

I'm trying to using trial mode to import JW player to my project in swift 2.3 and I saw that all control icons has been disappear (just show missing icon). But when I try to run on demo the icons appear
Both app I use my own hls live stream. Do you know why?

[2016-12-08 19:51] karimJWP commented on #17
@thandang what controls are you talking about? The player's controls? The JWPlayerController has a Boolean property called controls. Setting them to false hides the controls.

[2016-12-09 03:54] thandang commented on #17
Yes, the player control, I set it to true and the control is shown. But, the problem is the icons such pause/play/loading/expand are missing now. Like this [https://monosnap.com/file/lt005E40KfVhPEgV5MxX6uBoKlb9KO](url)

[2016-12-09 14:53] karimJWP commented on #17
I cannot open your URL. What SDK version are you using? If you are offline, the button icons will not load

[2016-12-12 09:11] thandang commented on #17
I got it fix. The problem is because of ATS setting which actually skin url is on http. What I solved is just add exception for this url "p.jwpcdn.com". Thank you so much.

[2016-12-12 09:11] #17 closed

[2017-01-04 16:15] Anbu312 opened #18 "Jw Player not working landscape mode ?"
JwPlayer not working landscape mode.

[2017-01-04 18:30] karimJWP commented on #18
Hi! Could you be more specific ? Is this a fullscreen problem ?

[2017-01-05 11:26] Arlem commented on #3
Looks like it's now implemented in version 2.6.1!
https://developer.jwplayer.com/sdk/ios/docs/developer-guide/about/release-notes/

[2017-01-05 18:04] Anbu312 commented on #18
Hi KarimJWP

I have integrated Jw player in my application. My application supported portrait mode only video play controller only allow landscape mode. Landscape mode working iPhone version 9.1 above 9.1 version crash my application.

[2017-01-05 22:06] karimJWP commented on #18
please contact support+sdk@jwplayer.com and file a bug report. Thank you :)

[2017-01-05 22:06] #18 closed

[2017-01-19 09:19] codalamanp opened #19 "Full screen"
When I click on fullscreen button it is going to  dismiss the view.

[2017-01-19 15:33] karimJWP commented on #3
@naru @Arlem @angusykl, that's right, as of 2.6.1 onControlBarVisible is officially supported :)

[2017-01-19 15:33] #3 closed

[2017-01-19 15:35] karimJWP commented on #19
@codalamanp could you please be more specific ? The view containing the jwplayercontroller is not discarded, it is overlaid by a fullscreen window.

[2017-01-20 07:31] codalamanp commented on #19
That was according to my incorrect implementation.
I apologize for that thing.
It is working proper.

Thanks,
Aman Prajapati

On Thu, Jan 19, 2017 at 9:05 PM, Karim Mourra <notifications@github.com>
wrote:

[2017-03-16 09:00] AppCraft-LLC opened #20 "Error setting up player: Invalid license key"
Found the following issue: JWPlayerController occasionally returns "Error setting up player: Invalid license key" when being used in UICollectionView. For example 40 of 50 players in the flow (UICollectionView) loads and plays streams correctly, but other 10 returns this error and doesn't load content. In this example 3 player of 30 returned that error and didn't load videos:

`
2017-03-15 09:37:0

[2017-03-16 14:30] karimJWP commented on #20
How are you setting your key ? In the latest version we introduced setting the key with a class method called 'setPlayerKey:', which you can use once in your app delegate's 'didFinishLaunchingWithOptions:'. We will look into a fix, in the meantime could you try that ?

[2017-03-16 15:14] karimJWP commented on #20
also, if all you are changing is the file I recommend using 'load:' or 'loadPlaylist:'

[2017-03-16 15:17] karimJWP commented on #19
Awesome :)

[2017-03-16 15:17] #19 closed

[2017-03-17 11:07] codalamanp opened #21 "Cookies"
How can I set cookies for JWPlayer request?

[2017-03-17 21:28] karimJWP commented on #21
Hi! The JWConfig has a dictionary property called assetOptions;
Create a Dictionary containing the cookie as a value and the string 'cookie' as the key. Set that dictionary to assetOptions and call the key AVURLAssetHTTPHeaderFieldsKey.
In Obj-c code, assuming an instance of JWConfig named config:

`config.assetOptions = @{@"AVURLAssetHTTPHeaderFieldsKey": @{@"cookie":  @"theActualCookie"}};`

[2017-03-21 05:31] codalamanp commented on #21
Thanks for reply,

What I want is, our web has integrated cloudfront signed cookie where we need to set cookies for cloudfront domain, Is this we can achieve using JW Player in Ios device?

Please refer below URL for more details,

http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-signed-cookies.html

Waiting for your reply
Thanks

[2017-03-21 13:45] cvindhani commented on #21
It will be possible by following example,

Objective - C
NSString *cookies = @"cookies1=value;cookies2=value"
JWConfig *config = [[JWConfig alloc] initWithContentUrl:@"your url"];
config.assetOptions = @{@"AVURLAssetHTTPHeaderFieldsKey":@{@"cookie": cookies}};

Swift
let cookies = "cookies1=value;cookies2=value"
let config: JWConfig = JWConfig(contentURL: your url)
config.assetOptions = ["AVURLAss

[2017-03-21 16:06] karimJWP commented on #21
@codalamanp if the suggested solutions did not work, could you please provide a stream and cookies for debugging ? thanks

[2017-03-22 03:40] cvindhani commented on #21
I'm unable to provide you stream and cookies but it will definitely work for single and multiple cookies to set on JWPlayer.

[2017-03-22 04:38] codalamanp commented on #21
cvindhani it is working for me
Thanks

[2017-03-22 13:02] #21 closed

[2017-03-30 22:38] AppCraft-LLC commented on #20
Thank you for your response, yes, the license key was set up correctly. I think that the issue was in the architecture of the app I working on: I used IGListKit to show a flow of the videos and made some cache mechanics to load streams. After I turned off caching (instead of reusing players I always construct new ones when cells entering working area) the error about wrong license key gone and nev

[2017-03-31 15:53] karimJWP commented on #20
@AppCraft-LLC we will need some code to reproduce. please send an email to support+sdk@jwplayer.com and they will obtain everything they need from you.

[2017-03-31 16:33] AppCraft-LLC commented on #20
Ok, thanks!

[2017-04-12 22:06] vfxdrummer opened #22 "Fullscreen Mode Blocked When more than one root UIWindows exist"
Hey Guys -

First of all, thank you for such a great video player SDK for iOS.
I just wanted to bring to your attention a bug that our team has run into while using the product.
Essentially, we have found that when we have views attached to an additional root UIWindow,
that it blocks the fullscreen mode from happening. It looks like you guys also create an additional root UIWindow for fullscreen m

[2017-04-14 14:03] hblee commented on #22
Hi Tim - just giving you an update that the engineering team will take a look.

[2017-04-14 15:32] karimJWP commented on #22
Hi @vfxdrummer , thank you for sharing the demo app. I am getting a lot of Swift Compiler Errors, are you able to build the app ?

[2017-04-14 16:39] vfxdrummer commented on #22
I was last time I tried, let me do so again.

[2017-04-14 16:56] vfxdrummer commented on #22
I'm so sorry, not all code was committed. Can you do a pull and try it out? Thanks.

[2017-04-14 18:18] karimJWP commented on #22
Thanks @vfxdrummer it's building now :)

[2017-04-14 18:27] karimJWP commented on #22
@vfxdrummer what is your use case for having multiple windows, and more importantly have a window overlaying the window containing the player ?
We have logic set-up to prevent fullscreen from triggering when a view is layered on top of the player, because in the past customers complained that a backgrounded player would still go to fullscreen (i.e. upon rotating to landscape if forceFullscreenonLa

[2017-04-14 21:07] vfxdrummer commented on #22
Hey Karim -

Thanks for responding. Our use case is that a fullscreen semi-transparent overlay is shown when the video is paused. We do this by hooking into an overlayWindow mechanism that uses an additional root UIWindow. Perhaps, if different behavior is desired for Fullscreen mode when additional UIWindows are present, we can have a way to toggle the behavior?

Thoughts on that? Thanks for the

[2017-04-14 21:08] vfxdrummer commented on #22
This is from our other developer :

"Our use-cases deal with full-screen overlays that for end-users involve a full-screen resume play overlay, and for development and debugging, diagnostics and other information overlaid on the interface."

[2017-04-17 12:57] karimJWP commented on #22
Hi thank you for the response. What is your expected fullscreen behavior when the player is overlaid with another window ? Do you expect the player to still enter fullscreen mode when an overlaying window is present ? Or is the problem simply that when another Window is added to stack, the player has trouble entering and exiting fullscreen properly ?

[2017-04-17 13:04] karimJWP commented on #22
Also, out of curiosity, why are you using  UIWindow instead of a UIView to overlay the player when it is paused ?

[2017-04-18 18:30] vfxdrummer commented on #22
"What is your expected fullscreen behavior when the player is overlaid with another window ? Do you expect the player to still enter fullscreen mode when an overlaying window is present ?"

Yes. We expect the player to go fullscreen whether or not an existing UIWindow is present.

[2017-04-18 18:32] vfxdrummer commented on #22
"Also, out of curiosity, why are you using UIWindow instead of a UIView to overlay the player when it is paused ?"

We have an existing mechanism for full-screen overlays that we use on projects for a variety of purposes, including real-time debugging overlays. It's a convenient hook to add full screen views on top of our app.

[2017-04-18 18:48] karimJWP commented on #22
Thank you for the response. Would you expect the fullscreen window to cover your transparent overlay, or would you expect the fullscreen window to be positioned underneath the overlay ?
Also, when your overlay is covering the window containing the player, are touches blocked by your overlay, or are they transferred over to the player ?

[2017-04-20 19:12] vfxdrummer commented on #22
Hey Karim -

Sorry for the delay. I've been hyperfocused on a different task the last few days.

Touches are blocked. Our overlay already has a window level that places it above alerts.
So that is higher than the window level that you guys are using.

Does that answer your question? Thanks.

[2017-04-20 20:39] hblee commented on #22
Hi Tim,

We've huddled up on this issue and are going to investigate a few options tomorrow. We should have more information for you then on a path forward.

Thanks
Henry

[2017-04-20 22:07] vfxdrummer commented on #22
Thanks so much. I appreciate the attentiveness.
Just let us know, thanks!

[2017-04-21 12:29] vaishdolly13 commented on #18
I am having the same issue. Please help.

[2017-04-21 15:11] karimJWP commented on #18
@vaishdolly13 to properly debug we will need to you to contact support+sdk@jwplayer.com. They will provide you with a vanilla app using our sdk and will ask you to edit it with your settings and to include steps to reproduce your bug. This is very important because fullscreen relies on many  settings that are external to our SDK, such as supported interface orientations of the view controller. Wit

[2017-04-21 15:12] #20 closed

[2017-05-15 20:33] harrisrap commented on #16
I am using cocoa pods, and had this same issue, and used your solution to get past the error in the Bridging header file.
But then I get the same error in ObjCPlayerViewController.m.
I used the same solution to get past the error there.
But now, I get a bunch of Apple Mach-O Linker Errors.

<img width="259" alt="screen shot 2017-05-15 at 1 32 23 pm" src="https://cloud.githubusercontent.com/assets/

[2017-05-15 21:19] karimJWP commented on #16
@harrisrap it seems like the framework is being imported multiple times, and the warning indicate the project is searching for the .framework file. Can you verify that you are only importing cocoapods or only importing the .framework ?

[2017-06-12 20:59] mark-bragg opened #23 "Invalid Argument Exception upon JWPlayerController Instantiation"
![viewcontroller](https://user-images.githubusercontent.com/15349627/27054754-e666a586-4f76-11e7-8a6f-82f0acd6dc52.png)
![stack trace](https://user-images.githubusercontent.com/15349627/27054757-e89b2142-4f76-11e7-8c07-7901df6cd78e.png)

When I run this app, the error seen in the stack trace is causing my app to terminate: "Terminating app due to uncaught exception 'NSInvalidArgumentException', re

[2017-06-13 13:29] karimJWP commented on #23
Hi Mark, what SDK version are you using ? ALso, does this happen when offline ?

[2017-06-13 16:17] mark-bragg commented on #23
jwplayer-ios-sdk-2.7.3+26, and I get the same error when I run the program offline.

[2017-06-14 04:02] ahyong87 opened #24 "ios native how to play m3u8 playlist with HD button ?"
Hi,

How to play m3u8 playlist with HD Button ?

[2017-06-14 21:42] #23 closed

[2017-06-15 15:02] karimJWP commented on #23
Hi @mark-bragg , were you able to get it to work ? We have added a safeguard against that method which will go out in the next release.
I believe the crash may be caused by not having `-all_load` in the `other linker flags` section in the project's `build settings`. Please ensure the project is set-up following these [instructions](https://developer.jwplayer.com/sdk/ios/docs/developer-guide/intro/

[2017-06-15 15:17] karimJWP commented on #24
Hi @ahyong87 the HD button has been removed for m3u8 playlists because quality switching is better handled internally; this is Apple's recommended approach. We have introduced the property `bitRateUpperBound` to the `JWConfig`, which can be used to set the maximum bitrate level accessible during adaptive quality switching. In other words, quality switching happens automatically for m3u8 playlists

[2017-06-15 15:18] #22 closed

[2017-06-20 00:20] mark-bragg commented on #23
I was able to fix it, thank you

[2017-07-09 08:57] danipralea opened #25 "JWCastController crash"
Hello I implemented the chromecasting via the JWPlayer framework (via JWCastController) as per
https://developer.jwplayer.com/sdk/ios/docs/developer-guide/casting/chromecast/

and also

https://github.com/jwplayer/jwplayer-ios-bestPracticeApps

but I am getting
```libc++abi.dylib: terminating with uncaught exception of type NSException```

when trying to ```connect``` to a device. No stack trace i

[2017-07-10 16:12] karimJWP commented on #25
@danipralea what chromecast version are you using? Our SDK is compatible with version 3.3.0.11401

[2017-07-10 16:17] karimJWP commented on #25
@danipralea  never mind the previous comment, just saw the comment in the code. DOes it work if you comment out `castController.chromeCastReceiverAppID = kGCKMediaDefaultReceiverApplicationID` ?
If not please contact support at support+sdk@jwplayer.com and they will obtain the necessary info for us to reproduce the bug in our environment.

[2017-07-10 16:23] danipralea commented on #25
Hi @karimJWP my version is `3.3.0.11401`

[2017-07-31 10:26] Aximem opened #26 "Cocoapods static binaries"
Hi,

Have you planned to make your POD "dynamic" so we could use it in other pods and not getting :

`The '***' target has transitive dependencies that include static binaries`

?

TY

[2017-08-08 07:34] tausiq opened #27 "#import <JWPlayer-iOS-SDK/JWPlayerController.h> file not found"
Trying to run the demo. Using Xcode Version 8.3.3 (8E3004b)

Added **JWPlayer-iOS-SDK.framework** manually by following this guide,
https://developer.jwplayer.com/sdk/ios/docs/developer-guide/intro/getting-started/

Build command gives following error,

![Error screenshot](https://d26dzxoao6i3hh.cloudfront.net/items/2i3D1W161I3C2B2F1E1l/%5Bdd0f7d606bffe8e1497ca014ed33bc48%5D_Image+2017-08-08+at+1.

[2017-08-11 21:59] karimJWP commented on #27
Hi @tausiq what version of the sdk are you using ?

[2017-08-11 21:59] #24 closed

[2017-08-11 22:00] karimJWP commented on #25
Hi @danipralea was support able to help?

[2017-08-11 22:14] karimJWP commented on #26
Hi @Aximem could you please help me understand your use case ? Are you trying to bundle our framework in your own framework ?

[2017-08-11 22:21] Aximem commented on #26
Yes in a way, I created my own pod where I use yours, so in my pod podspec I have :
`s.dependency 'JWPlayer-SDK', '~> 2.0'`

Now if I use my pod in another project I will add it in podfile, I would do :
- pod install
And your pod will generate this error because it uses static binaries.

[2017-08-12 00:29] tausiq commented on #27
I am using 2.7.6

[2017-08-14 09:34] danipralea commented on #25
Hello @karimJWP
The instructions are not complete. You need to setup the google framework too and do the necessary setup on the google developers console as well

[2017-08-14 14:29] karimJWP commented on #25
@danipralea is this to cast to a custom receiver ? WHat setup did you need to do on the 'google developers console' ?

[2017-08-14 17:54] karimJWP commented on #27
@tausiq please contact support+sdk@jwplayer.com and they will help debug this for you, thanks

[2017-08-14 20:20] danipralea commented on #25
To a standard Google Chromecast device.
I created the receiver media app on developers console and set it up based on their docs in the AppDelegate with that ID. Otherwise it crashes saying that I have not set up the shared cast handler.

[2017-08-14 20:33] karimJWP commented on #25
@danipralea there is a misunderstanding here, you do not need to use the GoogleCast API, our player should take care of that for you. Please contact support at support+sdk@jwplayer.com and they will ask you for all the implementation necessary to reproduce on our end. Once we can reproduce we will have a fix for you. Thanks!

[2017-08-15 08:30] danipralea commented on #25
I already did that. Apparently I had little feedback from your support team.
But it's ok now, glad I was able to make it work.

[2017-08-22 05:10] tausiq commented on #27
Contacted with the SDK team. They are very helpful and the issue is resolved.

I imported **JWPlayer-iOS-SDK.framework** but the actual file was outside the project directory. Copy-paste the **JWPlayer-iOS-SDK.framework** inside your project directory and then import.

[2017-08-22 05:10] #27 closed

[2017-08-30 09:31] orazz opened #28 "HLS stream shows only one subtitle"
HLS stream url. When I click to cc button it doesn't show other languages, how to solve this?

![simulator screen shot aug 30 2017 2 29 01 pm](https://user-images.githubusercontent.com/8214953/29865811-f37659ae-8d8f-11e7-9c67-9de761c699c9.png)

[2017-08-31 03:26] RameshiOS opened #29 "-[__NSCFString orientation]: getting crash"
I am getting crash for live streaming.Can you please suggest where I did mistake

       config.file =http://XXX.temp/hls.m3u8
       player = JWPlayerController(config:config)
       config.size = CGSize.init(width: screenSize.width, height: 100)
        player.view.frame = CGRect.init(x: 0, y: 0, width: screenSize.width, height: 100)
        self.view.addSubview(player.view)

Crash showing in lo

[2017-08-31 06:14] #29 closed

[2017-09-01 15:28] karimJWP commented on #28
@orazz what stream are you using ?

[2017-09-01 15:43] karimJWP commented on #29
@RameshiOS all changes to the config should be made before instantiating the JWPlayerController. I noticed you set a size to the config after player instantiation. This would not have caused a crash, but it's good to know moving forward :)

[2017-09-21 16:37] jeremycbutler opened #30 "iPhone X Full-Screen Cuts Off Controls"
When I full-screen on an iPhone X it will misplace and cut off the controls at the bottom. If I rotate it back to smaller size and then fullscreen again, the controls are correctly positioned. Any ideas?

![simulator screen shot - iphone x - 2017-09-21 at 11 35 41](https://user-images.githubusercontent.com/7903562/30707417-0bee3a0a-9ec1-11e7-9013-f3a7293ef2ac.png)

[2017-09-25 03:43] bauloc opened #31 "How to test google IMA ads ?"
I have download project and compile it, it will play stream, but no play ads ?
Thanks

[2017-09-29 22:51] karimJWP commented on #31
please visit our [developer docs](https://developer.jwplayer.com/sdk/ios/docs/developer-guide/monetization/ad-configuration/)
if you're still not able to figure it out please contact support at support+sdk@jwplayer.com

[2017-09-29 22:51] #31 closed

[2017-09-29 22:52] #28 closed

[2017-09-29 22:53] #25 closed

[2017-11-08 22:04] fresswolf commented on #30
I have this problem when going into fullscreen with forceFullScreenOnLandscape. It doesn't happen when the fullscreen button is touched, even when forceLandscapeOnFullScreen is on.

[2017-11-14 08:06] razelkayamdev opened #32 "Crash when no networking on real device"
**Description**: When initialising JWPlayer on a real device, and the device does not have networking (internet is not reachable), the application crashes.

**Reproduction steps**:

1. Download the [JWPlayer developer guide example application](https://github.com/jwplayer/jwplayer-sdk-ios-demo).
2. Add JWPlayer latest SDK (2.7.3+26).
3. Set your device to 'airplane' mode.
4. Install the applicatio

[2017-11-14 14:17] karimJWP commented on #32
This has been fixed in latest version, 2.7.9. Please upgrade

[2017-11-14 14:17] #32 closed

[2017-11-14 14:58] razelkayamdev commented on #30
Experiencing same issue on the latest JW SDK version (2.7.9).

[2017-11-14 15:25] karimJWP commented on #30
@fresswolf , @jeremycbutler , @razelkayamdev the issue has been fixed and will ship in our next release, 2.7.10

[2017-11-14 15:27] jeremycbutler commented on #30
Awesome. Thanks @karimJWP !

[2017-11-15 20:13] karimJWP commented on #30
@fresswolf , @jeremycbutler , @razelkayamdev 2.7.10 released today. Please note that an error prevented release notes from updating on our developer page.

[2017-11-15 20:13] #30 closed

[2017-11-16 18:43] DuboisJoris opened #33 "iPhone X landscape seeker bar"
Hi

When using the iOS JWPlayer SDK (version 2.7.10) in fullscreen mode. The seeker bar is way to close to the home indicator.

I'm already using the prefersHomeIndicatorAutoHidden & preferredScreenEdgesDeferringSystemGestures API but the swipe gesture is still handled by the system.

[2017-11-16 19:21] karimJWP commented on #33
Hi @DuboisJoris could you please share a snapshot?

[2017-11-16 19:37] DuboisJoris commented on #33
Hi @karimJWP, here you can see the home indicator (white bar) and the seeking bar of JWPlayer close to each other. When i try to scrub to a different time in the video, the gesture gets recognised by the system and slide trough my apps.

![60d45155-44c8-4a1f-874a-b49e5d902902](https://user-images.githubusercontent.com/7522583/32911839-ab514d94-cb0d-11e7-9014-e40d325bbb33.png)

[2017-11-16 20:52] karimJWP commented on #33
@DuboisJoris thanks, I see the issue. As a workaround in the meantime, would setting `timeSliderAbove` in `JWConfig` to `true` help ?

[2017-11-17 10:42] DuboisJoris commented on #33
The workaround suggested seems to work OK. The gestures are not interfering with the home indicator anymore. However the Close & Play button are still placed a bit weird around those corners.
![screen shot 2017-11-17 at 11 41 55](https://user-images.githubusercontent.com/7522583/32943418-55f2c132-cb8c-11e7-8b48-cdb41b87928b.png)

[2017-12-08 16:43] Kymer opened #34 "Ads with timeOffset="start" are not reliably shown"
### Expected Behavior

'Preroll ads' with a `timeOffset` set to `"start"` are shown consistently.

### Actual Behavior

With the latest JWPlayer SDKs, preroll ads are sometimes not shown and the player is in a weird state where the *actual video content* starts playing instead of the ad. Skipping the 'ad' will start playing the content normally.

![preroll-not-shown](https://user-images.githubuser

[2017-12-12 07:27] Kymer commented on #34
I have duplicated [this issue to the **JWPlayer-iOS-SDK-cocoapod**](https://github.com/jwplayer/JWPlayer-iOS-SDK-cocoapod/issues/16) repo as I feel it's more relevant there.

[2017-12-12 07:27] #34 closed

[2017-12-14 16:01] okulagin commented on #26
Hi @Aximem ,

Beginning from version 2.8.0 our SDK is dynamic.
Thank you.

[2017-12-14 16:01] #26 closed

[2017-12-26 05:53] bluelabeldeveloper1 commented on #3
onControlBarVisible is sometime doesnt get call. like when you pause the video, and tap on display screen to hide/show control. onControlBarVisible will not get call. Any idea about that?

[2018-01-19 16:19] cesarcarlos75 opened #35 "Apple Mach-O Linker Error"
I am working on Xcode 9.2 with Swift 4. I downloaded the JWPlayer-iOS-SDK.framework, added it to the project, and included the -all_load linker flag under Other Linker Flags.

Everything works fine while testing, but if I try to Archive (Product->Archive) I get an error:

`linker command failed with exit code 1 (use -v to see invocation)`

`Bitcode bundle could not be generated because '/project/p

[2018-01-19 22:13] karimJWP commented on #35
@cesarcarlos75 what version of the SDK are you using ? Have you tried using cocoapods ?

[2018-01-20 02:03] cesarcarlos75 commented on #35
I'm using version 2.8.2, downloaded from the JW Player Dashboard. I actually tried Cocoapods after posting (v 2.7.11) and didn't get any errors then. Still, would like to know if it's an issue with the framework or something I missed. Thanks.

[2018-01-31 11:05] bluelabeldeveloper1 opened #36 "Orientation Isuue"
My App is having only portrait orientation support. When we rotate device to landscape and calling enterFullScreen() method of player, player goes to full screen with landscape left orientation. Not changing to landscape right. What we need to do to support both landscape orientation when player enter in full screen as per device orientation?

Like if device is Landscape Left then player should ro

[2018-02-02 14:22] karimJWP commented on #36
@bluelabeldeveloper1 what is the view controller's supported interface orientation ? Also what orientations do your app support ?

[2018-02-05 12:54] bluelabeldeveloper1 commented on #36
App is having portrait orientation and player is added as subview in view controller. view controller support  portrait orientation.

[2018-02-08 08:55] ashishkshaw commented on #35
I am also getting same error

[2018-02-08 15:09] okulagin commented on #35
@ashishkshaw which version do you use? Yesterday we have release a version where bitcode issue is addressed.

[2018-04-23 10:56] PradumnaPP opened #38 "JWPlayer License Issue"
I am integrating JWPlayer in iOS application.

It is returning with below error :
**Error setting up player: Invalid license key**

How I can get a temporary trial license key for JWPlayer. So that I can check the quality of video player and then go for purchase.

If anyone knows the solution to it please let me know.

Thank you.

[2018-05-04 06:26] bluelabeldeveloper1 opened #39 "Background Audio Play"
We are able to play audio in background mode. But on completion of audio playing, next audio is not getting played automatically. we dont have audios in playlist. we are creating player again on next audio start. Lets take an example

Consider we are having 100 audios to play. Currently 1st one is playing. When oncomplete delegate called by player, we are fetching next audio from array and giving

[2018-05-04 13:16] karimJWP commented on #39
@bluelabeldeveloper1 instead of instantiating a new player you could use our [load API ](https://developer.jwplayer.com/sdk/ios/reference/Classes/JWPlayerController.html#//api/name/load:)
you could also set up a playlist

[2018-05-08 11:12] bluelabeldeveloper1 commented on #39
instead of instantiating a new player you could use our load API 

Here is some part of our code
var item : JWPlaylistItem = JWPlaylistItem()
item.file      = url
item.title     = title
item.image     = Imageurl
arrPlaylist.add(item)

let config : JWConfig = JWConfig()
config.playlist = arrPlaylist as NSArray as! [JWPlaylistItem]
self.player = JWPlayerController(config: config)

Instead of loadAPI

[2018-05-08 18:01] karimJWP commented on #39
Hi @bluelabeldeveloper1 thank you for your response. What we will try to fix is ensuring the lockScreen controls are updated when a playlist is loaded as this is a lot more performant than resetting the player every time an item needs to be played.
Could you please clarify what you meant by `not able to start next on completion of previous one when phone is locked.` - did you mean that loadPlaylis

[2018-05-08 18:14] okulagin commented on #35
Please refer to the migration guide (if you used 2.7.x previously) https://developer.jwplayer.com/sdk/ios/docs/developer-guide/troubleshooting/migration/ and ensure to run the script prior submitting your app to app store https://stackoverflow.com/questions/42641806/check-and-remove-unsupported-architecture-x86-64-i386-in-ipa-archive

[2018-05-08 18:14] #35 closed

[2018-05-08 18:41] dashtodd commented on #38
@PradumnaPP The only way to get a trial license key is to work with our Sales team to potentially get a trial account. What is the best way for our Sales team to contact you to start the process?

[2018-05-09 06:49] bluelabeldeveloper1 commented on #39
Could you please clarify what you meant by not able to start next on completion of previous one when phone is locked. - did you mean that loadPlaylist is not getting called ?
--> Consider we are having 500 audio to play. Currently 1st one is playing. When oncomplete delegate called by player, we are fetching next audio from array and initiating player, once we will get “idle” or “pause” state of p

[2018-05-16 11:00] bluelabeldeveloper1 commented on #39
@karimJWP We have sent you demo app on "support@jwplayer.com" email.

[2018-06-13 12:55] phanibob7 commented on #36
I am also having the same issue

[2018-07-17 19:59] marting07 opened #41 "API Load does not work for 2.8.7+ versions iOS SDK"
Hi, I would like to report an issue of the iOS SDK that happen with the versions 2.8.7 and above (till 2.9.1) related with the "API load" to change the source file for an instantiated player. This behavior was not present a couple of months ago. I have to install the 2.8.6 stable release to be able to load a new source file. Thanks in advance for your time.

[2018-07-19 14:47] goodchung opened #42 "Add button to control bar in full screen mode"
I am able to change color of the control bar by editting the "http://p.jwpcdn.com/iOS/Skins/nature01/nature01.css".  However, I would like to add a button in control bar in full screen mode with iOS sdk. Any method I can do it ?

[code]
![32943418-55f2c132-cb8c-11e7-8b48-cdb41b87928b](https://user-images.githubusercontent.com/41441320/42978267-99c0adec-8bfe-11e8-8440-fb2003de2d9f.png)

[2018-07-27 17:40] fresswolf commented on #36
Same here. It started to happen once I updated from SDK 2.7.10 to the current version 3.0.1.
It was not present in 2.7.10
@coderDove @okulagin any updates on this issue?

[2018-07-27 17:42] okulagin commented on #36
@fresswolf not yet, but it is in our backlog. Will update the thread with ETA as soon as we have it. However, thank you for the information regarding 2.7.10

[2018-07-31 10:40] ChemaIturbe opened #43 "Can't change subs in videos with multiple audios in iOs"
- Device: iPhone 8+
- iOS Version: 11.4.1
- Olympic Channel App versión: 1.15.0
- iOS SDK 2.9.1
- Language: English
- StreamingUrl: https://vod.olympicchannel.com/NBCR_Production_-_OCS/231/1016/GEPH-ONTHERECS02E012C-_E17101101_master.m3u8
- FilePath: NBCR_Production_-_OCS/231/1016/GEPH-ONTHERECS02E012C-_E17101101_master.m3u8

Steps:
1.- Open OC app
2.- Tap on "Explora" icon at button right menu
3.

[2018-08-01 08:41] fukemy opened #44 "non-commercial version os jwplayer- IOS?"
hello. How can i find non-commercial version for IOS. like : https://github.com/jwplayer/jwplayer

[2018-08-01 14:07] GMSyrimis commented on #43
Hello @ChemaIturbe loading https://vod.olympicchannel.com/NBCR_Production_-_OCS/231/1016/GEPH-ONTHERECS02E012C-_E17101101_master.m3u8 directly into the 2.9.1 JW Player SDK works as expected, with both captions and audiotracks available.

Please reproduce this with the open source demo app this repo provides.

[2018-08-02 16:20] karimJWP commented on #44
We currently do not have an open source project for the iOS SDK. We do however have an open source repo containing best practice examples using our SDK https://github.com/jwplayer/jwplayer-ios-bestPracticeApps

[2018-08-02 16:20] #44 closed

[2018-08-07 14:09] ChemaIturbe commented on #43
Hi George, Now the CC into the 2.9.1 JW Player SDK works properly.

Many thanks
Chema

De: George Syrimis <notifications@github.com>
Enviado el: miércoles, 1 de agosto de 2018 16:08
Para: jwplayer/jwplayer-sdk-ios-demo <jwplayer-sdk-ios-demo@noreply.github.com>
CC: Jose Iturbe (UST, ESP) <Jose.Iturbe@ust-global.com>; Mention <mention@noreply.github.com>
Asunto: Re: [jwplayer/jwplayer-sdk-ios-demo]

[2018-08-07 14:18] #43 closed

[2018-08-13 19:27] okulagin commented on #33
@filipchabik112 Hello. What version of SDK do you use?

[2018-08-13 20:15] filipchabik112 commented on #33
i don't know the exact version of sdk. but i've noticed that it is targeted for iphoneos 10.0

[2018-08-13 23:43] okulagin commented on #33
@filipchabik112  Please try the latest SDK version, it is supposed to be fixed there. Otherwise please contact the support team and they will help you!

[2018-08-14 15:03] #33 closed

[2018-08-17 17:33] filipchabik112 opened #46 "iPhone X hide home indicator on landscape fullscreen of jwplayer"
Hello.
I'm still getting trouble to hide home indicator on fullscreen of jwplayer.
**It is important issue for us.
And we have to solve this problem as soon as possible.**
Please let me know the way to fix this problem.

Until now, to solve this problem i had a debug for jwplayer and noticed the following problems

- on fullscreen mode, there is newer UIWindow for fullscreen of jwplayer.
On my app

[2018-08-20 09:06] filipchabik112 commented on #46
Hello.
Is there no any way to solve this problem?

Thanks.
Regards.

[2018-08-23 10:16] fukemy opened #47 "support rtmp"
does JWplayer support rtmp? Thanks you

[2018-08-27 20:45] Allan-Nava commented on #3
Ok Do u have an example?

Inviato da iPhone

[2018-09-04 14:56] nhunghuynhthihong commented on #3
I work around by using a bool for this, every call back, this variable will be change

[2018-09-04 15:08] Allan-Nava commented on #3
Can you give me a example?
Thanks

[2018-09-04 15:59] Andreoid82 opened #48 "JWPlayer 3.0 - is there a callback for CC and audio Panel"
With the new 3.* player, when i press the "CC" or the "gear" button is there a way (a callback) to understand that the new panel is shown?
This panel is a new feature of the new 3.0 version, but i have a custom transparent layer over the player so i need to hide my layer when the jwplayer cc panel is shown and show my layer again after the user changed the cc and jwplayer remove that panel.

Thank

[2018-09-27 07:42] filipchabik112 opened #49 "Add forward 10s button on player"
Hi.
I'm making iphone app which include jwplayer.

The default jwplayer has only backward 10s button now.
But i need also forward 10s button on player.
Please let me know how can i add that button on player.

Thanks.
Regards.

[2018-11-01 10:41] yogesh-finoit opened #50 "Getting error code 100012 on setting up clicking objective c button. What to do to play the ad in this demo app."
[
![simulator screen shot - iphone 7 plus - 2018-11-01 at 16 09 56](https://user-images.githubusercontent.com/12659303/47847276-b7c79500-ddf0-11e8-9bed-dddd6577293c.png)
](url)

[2018-11-17 09:01] manveersinghdodiya commented on #50
Hello, I am facing same issue. Kindly provide me solution.

[2018-11-19 14:36] karimMourra commented on #50
Per our error documentation, your license key is invalid.
https://developer.jwplayer.com/jw-player/docs/developer-guide/api/errors-reference/#100012

[2018-12-03 12:09] ThandavaSiva opened #51 "Getting error code 100012 in latest SDK(3.0)"
i am getting error code 100012 in latest SDK(3.0) but in old(below3.0v) its working fine

[2018-12-03 13:39] manveersinghdodiya commented on #50
Yes after replacing correct license key it works fine. Thanks

[2018-12-03 16:37] karimMourra commented on #50
@ThandavaSiva correct. The SDK 3.x uses a different key than 2.x; please contact your sales rep or account manager for your 3.x key.

[2019-01-04 18:01] provmusic commented on #51
+1

[2019-01-25 01:09] Ctulu82 commented on #39
@bluelabeldeveloper1 maybe the KeychainAccess issue.
You should check 'kSecAttrAccessibleAfterFirstUnlock' when player communicate with license server.

[2019-01-25 18:52] karimMourra commented on #39
@bluelabeldeveloper1 was support able to help you with the issue ? If not please reopen

[2019-01-25 18:52] #39 closed

[2019-04-11 14:08] bluelabeldeveloper1 opened #55 "lock control not appearing in background audio play - iOS 12.2"
We are using JWPlayer-SDK (2.8.1) and we are facing one issue with the latest iOS v12.2.

While listening to audio and the app is backgrounded, lock screen controls aren’t syncing/displaying. e.g. we can’t go to the next audio file unless you open up the app again.

Its working pretty well for older version of iOS.

Can you look into it and provide your inputs here?

[2019-04-11 15:08] karimMourra commented on #55
@bluelabeldeveloper1 what device are you using?

[2019-04-11 17:29] duliodenis commented on #55
@karimMourra - we don't think its device specific as we've received reports across all device types - X, 8 Plus, 8, 7, etc.

[2019-04-17 13:18] duliodenis commented on #55
@karimMourra - any thoughts?

[2019-05-01 14:12] #51 closed

[2019-05-01 14:14] karimMourra commented on #36
@bluelabeldeveloper1 please reopen this ticket if the bug still persists

[2019-05-01 14:14] #36 closed

[2019-05-01 14:15] karimMourra commented on #55
@duliodenis @bluelabeldeveloper1 we are working on a solution for this; it will be released with version 3.5.0

[2019-05-01 14:15] #50 closed

[2019-05-01 14:16] karimMourra commented on #48
Hi Andreoid82, we currently do not plan on supporting this feature.

[2019-05-01 14:16] #48 closed

[2019-05-08 22:13] dave11mj opened #60 "iOS Duplicate Captions"
**Issue**
When adding caption tracks as seen here https://developer.jwplayer.com/sdk/ios/docs/developer-guide/customization/captions/
[code]
If the video file also has `CEA-608 Captions` the player have double captions (iOS built in ones + the JWPlayer captions).

Note that if you remove `config.tracks` JWPlayer will have the CC button and properly hide / show the native captions.

**Expected**
Wh

[2019-05-09 22:37] karimMourra commented on #60
@dave11mj thank you for reporting! We will get back to you when a fix is on the way!

[2019-05-29 15:20] charliefancelli opened #63 "Callback Event data"
Hi,

Using **Swift**, event callback have an issue to access data.

Example, if we want to have the fullscreen status we need to access to `fullscreen` property.
But this property not exist in `JWEvent`, so we tried to cast in `JWFullscreenEvent` but it's not working.

[code]

It's exactly the same issue with all the others event callback (return `JWEvent` or `JWAdEvent`)

Regards,

[2019-05-29 20:44] karimMourra commented on #63
@charliefancelli `JWFullscreenEvent` is a protocol, so I believe the proper syntax would be
[code]

[2019-05-29 20:44] #63 closed

[2019-06-03 14:50] AmitaiB commented on #36
For now, you cannot accomplish the behavior you require through global settings; you will need to specify the desired behavior. One way is to permit landscape modes in your project settings, and then have your view controllers [only support portrait mode](https://developer.apple.com/documentation/uikit/uiviewcontroller/1621435-supportedinterfaceorientations#) (possibly made easier by subclassing U

[2019-06-05 10:54] adamszeptycki opened #64 "JWPlayer is Updating UI on background thread"
[code]
I keep getting this when ads start playing.

[2019-06-06 08:52] adamszeptycki commented on #64
Or this one is happening when I navigate from video (I disabled ads):
[code]

[2019-06-10 17:46] karimMourra commented on #64
Hi @adamszeptycki ! thank you for reporting, we are trying to include a fix for 3.6.0. We will confirm if the fix is done in time for the release, otherwise it will ship with 3.6.1

[2019-06-14 11:50] ankit0812 opened #65 "Quality controls are not accessible?"
How to change the quality of a video using the player ? I am only getting the speed options on the settings button.
Also the settings button when tapped takes the complete screen on notch displays and one cannot go back to normal
Landscape works fine.
Portrait covers up the screen
Any help?

![Screenshot 2019-06-14 at 5 19 29 PM](https://user-images.githubusercontent.com/21132111/59507465-bbfc7a80

[2019-06-14 11:57] ankit0812 commented on #49
Ya same here, must have.

[2019-06-14 16:39] karimMourra commented on #49
Hi! we currently don't have a `addButton` api, but it's on the roadmap. Said API would allow you to add buttons to the control bar. I will update this issue when a scheduled release is announced

[2019-06-14 16:58] karimMourra commented on #65
Hi! Thank you for reporting this! We were not aware of the menu being covered by the notch. What version of the SDK are you using ? Is the first picture in portrait fullscreen ? Or are you setting up your player to take up the entire size of the screen ?
With regards to the quality menu, what kind of stream are you using ? For HLS we no longer expose the option to select the quality, since the OS

[2019-06-15 07:30] ankit0812 commented on #65
Thanks, I figured out the source thing.
For the first question : Yes the picture is in portrait full screen and I m setting
`self.player.view.frame = self.view.frame`

[2019-06-15 07:48] ankit0812 commented on #49
Please make this soon because every player has this as a must. Move forward or back 10 or 15 secs. (Default iOS Player also)

[2019-06-15 11:15] asdec commented on #65
Hi Karim, We are using HLS format of video delivery on both Android & IOS. We are getting the quality option in Android SDK by default as per the qualities generated. However, for IOS we are not. Is this a platform specific configuration? If Yes, how can we implement the same on IOS using HLS itself?

[2019-06-18 08:19] ankit0812 commented on #65
@karimMourra  I have the same issue as @asdec

[2019-06-18 15:03] karimMourra commented on #65
Hi @ankit0812, by setting `self.player.view.frame = self.view.frame`, you are not using our fullscreen, therefore it is up to you to ensure that the view does not conflict with the notch. Our fullscreen API should prevent controls from colliding with the notch. please use `self.player.fullscreen = YES`.

[2019-06-18 15:04] karimMourra commented on #65
@ankit0812 and @asdec , regarding the multiple qualities for HLS streams, as opposed to Android, we do not expose the different quality options for HLS streams because the OS handles automatic quality switching in a more efficient and performant way.

[2019-06-18 15:13] asdec commented on #65
@karimMourra , Does "DASH" protocol support multiple quality streams for both Android and IOS platforms?

[2019-06-27 10:53] ankit0812 opened #66 "Stop JWPlayer when Screen is being recorded or Screenshot is taken?"
I want to stop the JWPlayer when screenshot is taken. After the screenshot is taken we get a notification 'UIApplication.userDidTakeScreenshotNotification'. On this when I am trying to dismiss the controller while the player is in full screen. My method is being called but the player does not get removed.
I have also tried stop() and pause() of JWPlayer before doing this.
Also I tried to remove th

[2019-06-27 11:13] ankit0812 commented on #66
If possible provided a method in delegate method that shows Screen is being recorded
and a method for Screenshot being taken

[2019-07-25 06:37] ankit0812 commented on #42
Any update on this?

[2019-07-25 15:21] karimMourra commented on #42
Hi @goodchung and @ankit0812 ! This feature is currently on our roadmap, but not yet scheduled for a specific release. I will update you when it is assigned to a release.
Thanks!

[2019-07-25 15:23] karimMourra commented on #55
@duliodenis @bluelabeldeveloper1 a fix for this was shipped with version 3.5.0. Please reopen if the issue persists. Thank you!

[2019-07-25 15:23] #55 closed

[2019-07-25 15:31] karimMourra commented on #66
Hi Ankit! For this issue I will need you to contact support at support+sdk@jwplayer.com. Your use case should work, but I cannot debug without your implementation. Support will provide you with a very basic app setting up a jwplayer and will ask you to provide the minimal implementation needed to reproduce your issue.

[2019-07-25 15:31] #66 closed

[2019-07-25 15:33] karimMourra commented on #64
Hi @adamszeptycki a fix should have shipped with version 3.6.0. Please reopen if your issue persists

[2019-07-25 15:33] #64 closed

[2019-07-30 08:36] tumdav commented on #65
Is there any solution to show settings ? maybe user wants see another option how can he/she choose it ?

[2019-07-30 15:22] karimMourra commented on #65
@tumdav if you want to give the users the option to pick a quality, you can setup a player with multiple mp4 sources.
[code]

[2019-07-30 15:23] karimMourra commented on #65
@asdec DASH is currently not supported in iOS. As far as I know, it is not very popular to play dash streams in iOS; even google doesn't use it in iOS

[2019-07-30 15:27] tumdav commented on #65
@karimMourra we use hls implementation. manifest files contains full information regarding sources. android and js sdks’ show quality level settings by default but ios sdk does not show

[2019-09-11 13:26] bluelabeldeveloper1 opened #67 "Play/Pause on the player is not working with Bluetooth device in iOS 12 and above"
We are using JWPlayer-SDK (2.8.1) and we are facing one issue with the iOS v12 and above

Play/Pause on the player is not working, when we try to play/pause audio or video using Bluetooth device(wireless headphones, AirPods).

Its working pretty well for older version of iOS.

Can you look into it and provide your inputs here?

[2019-09-17 11:21] bluelabeldeveloper1 opened #69 "Not able to change the playlist items with SDK v3.6.3"
Previously we were using JWPlayer-SDK (2.8.1) and with that playlist is working properly but when we updated the SDK to 3.6.3, We are not able to change the playlist items of player.

At 1st load audio/video is playing properly  but when we replace the playlist items with other according to app requirement then its not working with update SDK version. Everytime we are getting player in buffer stat

[2019-09-17 11:42] bluelabeldeveloper1 opened #70 "Player is not returning proper state on opening app from background mode"
Audio is playing in background mode but when I open application from background mode then player is giving "Buffer" state but audio is still playing. so it should give "play" state as we are able to listen the audio.

Now with the player's buffer state putting app in  background mode and opening it again, then player is giving "play" state. this is repeating(if user goes in background from buffer

[2019-09-17 15:40] karimMourra commented on #69
Hi @bluelabeldeveloper1 , this issue was identified recently, has been fixed and will ship with 3.7.0.
A minor suggestion based on your code sample: you do not need to reassign the delegate after calling `stop()`. The stop api simply sets the player to the idle state and offloads the current playlist item. Note that though the item is offloaded, the playlist is not modified. Calling play subsequen

[2019-09-30 15:05] PahlevanyanSamvel opened #71 "UI API called on a background thread"
Hi dear support team,
I have updated iOS 13 and SDK become with errors .
Please look and let me know if any ida

<img width="727" alt="Screen Shot 2019-09-30 at 7 04 45 PM" src="https://user-images.githubusercontent.com/34054539/65891192-32a87f80-e3b5-11e9-87f2-3e1a3428f9f2.png">

[2019-09-30 15:13] karimMourra commented on #71
Hi @PahlevanyanSamvel , which version of our SDK are you using ? I believe this issue was fixed several versions ago. Our latest version is 3.6.3 and 3.7.0 is on the way.

[2019-09-30 19:24] PahlevanyanSamvel commented on #71
Maybe 3.5,
I will check it, thank you very much.

[2019-10-01 04:32] CearsKhush commented on #65
@asdec @tumdav @ankit0812 Did you got solution of quality level settings for HLS streams? I am facing the same issue, Please help me with this :)

[2019-10-01 06:57] PahlevanyanSamvel commented on #71
Hi dear  @karimMourra , I am using 3.6.3 version but the issue is still actual.

<img width="1051" alt="Screen Shot 2019-10-01 at 10 57 30 AM" src="https://user-images.githubusercontent.com/34054539/65940731-48ac5380-e43a-11e9-9f9e-cb18a8383186.png">

[2019-10-01 10:51] tumdav commented on #65
@CearsKhush on iOS devices it is impossible to have quality control functionality. I found documentation when they explained that the ios system has a better implementation. Frankly speaking, I don't like this idea, but there  is no other solution, so we should accept this solution or try to find alternative player

[2019-10-01 16:00] karimMourra commented on #71
@PahlevanyanSamvel thank you! We are looking into the issue. I will keep you posted

[2019-10-01 18:51] karimMourra commented on #71
@PahlevanyanSamvel the issue was fixed and will be released with version 3.7.0 which is scheduled to go out on thursday

[2019-10-01 19:00] robrowe commented on #70
@GMSyrimis would you please take a look at this?

[2019-10-01 21:50] robrowe commented on #67
@bluelabeldeveloper1 we can abandon and close this ticket. we've upgraded to SDK 3.x

[2019-10-02 15:11] PahlevanyanSamvel opened #72 "Crash when pause/play"
Please help me

<img width="975" alt="Screen Shot 2019-10-02 at 7 09 08 PM" src="https://user-images.githubusercontent.com/34054539/66056630-78e21800-e548-11e9-832c-e4e69c5e4ab0.png">

[2019-10-02 17:04] karimMourra commented on #72
Hi @PahlevanyanSamvel could you share some reproduction steps ? It sounds like you might be calling `pause` before the player is finished instantiating. It's best practice to use the player's api after the `onReady` callback has fired.

[2019-10-02 17:33] karimMourra commented on #65
@tumdav and @CearsKhush parsing the HLS file into different qualities provides an inferior experience for the viewer. If the HLS master manifest contains metadata such as subtitles or audioTracks, that information is lost when a different quality is manually chosen. Viewers rely on this metadata for accessibility preferences, and users suffering from disabilities depend heavily on them. When you c

[2019-10-02 20:03] #67 closed

[2019-10-02 20:04] #69 closed

[2019-10-02 21:34] duliodenis commented on #70
Created Case #00097510 for you with the title "Player is not returning the proper state on opening app from background mode"

[2019-10-03 08:59] PahlevanyanSamvel commented on #72
@karimMourra worked perfectly if the action to use after `onReady` , but it would be nice if not crash.

[2019-10-03 15:30] karimMourra commented on #72
@PahlevanyanSamvel Noted! Thank you for the feedback! We will add a ticket in our backlog

[2019-10-07 08:40] PahlevanyanSamvel opened #73 "onTime playback is not working as well"
Hi dear @karimMourra  !
I checked versions V3.6 and v3.7 on iOS 13,
onTime playback called only onSeek and onPlay,
However, I need to show custom control with position information.
Any idea about this ?
Thank you.

[2019-10-09 11:33] #73 closed

[2019-10-09 11:34] #72 closed

[2019-10-09 11:34] #71 closed

[2019-10-14 20:49] Andy40au commented on #49
@karimMourra any update on this roadmap?

[2019-11-20 18:58] freddy1h opened #77 "Main Thread Checker"
Just launched the demo app for the first time on my iPhone 11 Pro iOS 13.1.3

[2019-12-10 12:34] bluelabeldeveloper1 opened #78 "Issue while changing the next play item from lock screen in case of multiple players are initialized"
Two-Player has been initialize in the application. Let say one is video and another one is Audio. Both the player is having playlist(let say 10 items). Now video player is paused and Audio player is playing audio. When I lock my screen, the lock control will be shown as the audio is playing. But when I click on the next button from the lock screen, it's changing the next item of both the player. A

[2019-12-17 11:56] bluelabeldeveloper1 commented on #78
Any updates here?

[2019-12-17 18:50] karimMourra commented on #78
hi @bluelabeldeveloper1 thank you for reporting this. This sounds like an actual bug on our end. I will make a ticket for our PM to review. Thank you!

[2019-12-19 05:25] bluelabeldeveloper1 commented on #78
Thank you, please keep us updated.

[2019-12-31 09:52] ankit0812 commented on #49
Any update on this? It is a must have feature!!!

[2020-01-17 17:48] karimMourra commented on #49
Hi @Andy40au and @ankit0812 the addButton functionality has been implemented and will ship in our next release, 3.10.0, expected by the end of the month.
Your button images can be remote or local assets. You can create a button with either the SVG content as a string or the file path of the asset. We highly encourage using the SVG content, since it will inherit the styles of the default buttons in

[2020-01-28 07:41] yogeshpatelios commented on #72
I am facing same issue please help me ? Which method called after onReady ? Thanks

[2020-01-28 09:03] YogeshPateliOS opened #80 "Crash when scrolling collectionViewCell."
Video is playing all thing is good but the problem is when i scroll my collectionviewcell fast then app crashing and showing this error. This issue mainly comes in iOS 12 devices on iOS 13 it's works fine but it crash randomly when scrolling.
<img width="975" alt="66056630-78e21800-e548-11e9-832c-e4e69c5e4ab0" src="https://user-images.githubusercontent.com/26963737/73249528-0ffb6b80-41db-11ea-8d6e

[2020-02-19 14:01] Allan-Nava commented on #24
Is possible to implement the quality from m3u8?

[2020-03-03 11:35] bluelabeldeveloper1 commented on #78
Any update here?

[2020-03-05 15:35] SageBrushes commented on #78
@karimMourra can you PM me the ticket for this? @bluelabeldeveloper1 please go through our support team since you are most likely an Enterprise customer. This will be the best and quickest way to get updates and ensure that we're keeping tabs on an issue.

[2020-05-04 09:53] aadeshmindtickle commented on #16
#import "JWPlayerController.h" inside bridging header file gives error "JWPlayerController.h file not found" I am using CocoaPods for integrating JW player v 3.13; needed help to solve this issue.
Also tried #import <JWPlayer-SDK/JWPlayerController.h> still same error.
Need help!

[2020-05-04 10:06] aadeshmindtickle commented on #16
By adding this <#import <JWPlayer_iOS_SDK/JWPlayerController.h>> in bridging header file solved the compiler issue.
Its a request to JW player documentation team to include this import statement in swift part of documentation as well; I picked it up from objective c documentation(Most ppl skip the objc part of docs if they are using swift).

https://developer.jwplayer.com/jwplayer/docs/ios-configu

[2020-05-11 15:23] aadeshmindtickle commented on #49
@karimMourra

I tried adding the JWButton to the control pane but nothing is getting added.
please refer the code below
`if let resourcePath = Bundle.main.resourcePath {
			let imgName = "settingsGear.png"
			let path = resourcePath + "/" + imgName
			let settingsbutton = JWButton(imageUrl: path, accessibilityLabel: "PlayerSettings", cssId: nil, cssClass: nil)
			settingsbutton.delegate = self

[2020-05-11 15:50] karimMourra commented on #49
Hi @aadeshmindtickle
Our team cannot investigate this issue without your implementation; I will need you to report a bug via our [Support Portal](https://support.jwplayer.com/submit-support-case). Select “I have a question for the technical support team” or “I want to report a bug” and then follow the steps to report your issue. Our support team will follow up in a timely manner.

[2020-05-11 16:43] aadeshmindtickle commented on #49
@karimMourra thanks for reply, I have raised a support ticket.

[2020-05-19 19:47] #38 closed

[2020-05-19 19:48] karimMourra commented on #41
Hi @marting07 in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue is still active, please reopen it in https://github.com/jwplayer/jwplayer-ios-b

[2020-05-19 19:48] #41 closed

[2020-05-19 19:49] karimMourra commented on #42
@goodchung and @ankit0812 this feature was release a while ago.
An update about this channel: in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue

[2020-05-19 19:49] #42 closed

[2020-05-19 19:49] karimMourra commented on #46
Hi @filipchabik112 in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue is still active, please reopen it in https://github.com/jwplayer/jwplayer-

[2020-05-19 19:49] #46 closed

[2020-05-19 19:51] karimMourra commented on #47
Hi @fukemy we do not.

An update on this issue room: in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue is still active, please reopen it in htt

[2020-05-19 19:51] #47 closed

[2020-05-19 19:52] karimMourra commented on #49
Hi all a quick update about this issue room: in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK.

[2020-05-19 19:52] #49 closed

[2020-05-19 19:53] karimMourra commented on #60
@dave11mj this has been fixed for a while.

A quick update about this issues  room: in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue is still

[2020-05-19 19:53] #60 closed

[2020-05-19 19:53] #65 closed

[2020-05-19 19:54] karimMourra commented on #70
Hi @duliodenis,  @robrowe , @bluelabeldeveloper1 - a quick update on this issues room: in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue is sti

[2020-05-19 19:54] #70 closed

[2020-05-19 19:55] karimMourra commented on #77
Hi @freddy1h in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   iOS SDK. If this  issue is still active, please reopen it in https://github.com/jwplayer/jwplayer-ios-be

[2020-05-19 19:55] #77 closed

[2020-05-19 19:58] karimMourra commented on #78
@SageBrushes the  ticket is SDK-5592
@bluelabeldeveloper1 a fix will ship with 3.15
 An update on this issues room: in an effort to consolidate our Github Issues and increase response times we are closing this github issues room. From now on we will be using the issues room in our Best Practice App repo (https://github.com/jwplayer/jwplayer-ios-bestPracticeApps) for all issues relating  to the   i

[2020-05-19 19:58] #78 closed

[2020-05-19 20:01] karimMourra commented on #80
Hi @YogeshPateliOS Our team cannot investigate this issue without your implementation; I will need you to report a bug via our [Support Portal](https://support.jwplayer.com/submit-support-case). Select “I have a question for the technical support team” or “I want to report a bug” and then follow the steps to report your issue. Our support team will follow up in a timely manner.

A quick update on

[2020-05-19 20:01] #80 closed